{% extends 'myapp/base.html' %} {% block content %}
<style>
    .form-label {
        color: #4a4a4a;
        font-weight: 600;
    }
    
    i {
        margin-right: 5px;
    }
    
    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    
    .card:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }
    
    .btn {
        border-radius: 4px;
    }
    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
    
    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }
    
    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
    
    .mt-2 {
        margin-top: 1rem;
    }
</style>
<div class="container mt-5 mb-5">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white text-center">
                    <h3>LOGIN</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{form.username.auto_id}}" class="form-label"><i class="bi bi-person-fill m-r"></i>{{form.username.label_tag}}</label>{{form.username}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.password.auto_id}}" class="form-label"><i class="bi bi-key-fill m-r"></i>{{form.password.label_tag}}</label>{{form.password}}
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                    </form>
                    <hr>
                    <div class="d-grid gap-2">
                        <label class="mt-2">Not Registered?</label>
                        <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
                    </div>
                    {% for m in messages %}
                    <div class="alert alert-{{m.tags}} mt-3" role="alert">
                        {{m}}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}